{% extends 'base.html.twig' %}

{% block title %}Salle index
{% endblock %}

{% block body %}

	<h1>Salle index</h1>
	<div class="container">
		<div class="row">
			{% for salle in salles %}
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">{{salle.name}}</h5>
						<img src="{{ asset('images/logo.png')}}" class="card-img-top" style="max-width: 150px;" alt=" ...">
						<a href="{{ path('app_salle_show', {'id': salle.id}) }}" class="btn btn-primary">Show</a>
						<a href="{{ path('app_salle_edit', {'id': salle.id}) }}" class="btn btn-primary">Edit</a>
					</div>
				</div>
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
		</div>
	</div>

	<a href="{{ path('app_salle_new') }}">Create new</a>
{% endblock %}
